html{
    overflow-x: hidden;
}

nav {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

nav a i {
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    color: #ccc;
}

nav {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
    width: 100%;
}

.menuOpen {
    background-color: rgba(227,242,253,0.8);
    position: absolute;
    right: 0;
    padding: 10px;
    text-align: left;
}