html {
  overflow-x: hidden;
  scrollbar-width: none;
  user-select: none;
}

html::-webkit-scrollbar {
  display: none;
}

nav {
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  z-index: 4;
}

footer {
  margin-top: 20px;
  width: 100%;
  background-color: transparent;
  z-index: 4;
}

.menuOpen {
  position: absolute;
  right: 0;
  margin-top: 270px;
  margin-right: 10px;
  z-index: 5;
  padding: 10px;
}

.menuOpen ul li{
  list-style: none;
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.menuOpen ul li p {
  margin: 0 !important;
  text-align: right !important;
  
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#loader {
  background: white;
}

.flip {
    transition: 0.8s;
    transform-style: preserve-3d;
}

.flip-bg:hover .flip:hover {
    transform: rotateX(180deg);
}

.flip-front, .flip-back {
    backface-visibility: hidden;
    position: absolute;
}

.flip-back {
    transform: rotateX(180deg);
    text-align: right !important;
}