html{
    overflow-x: hidden;
}

nav {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

nav a i {
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    color: #ccc;
}

nav {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
    width: 100%;
}

.menuOpen {
    background-color: rgba(227,242,253,0.8);
    position: absolute;
    right: 0;
    padding: 10px;
    text-align: left;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}

#loader {
    background: white;
}